@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* Mobile styles */
@media only screen and (max-width: 768px) {
  .description {
    overflow: hidden;
    max-height: 4.5em; /* Adjust as needed */
    position: relative;
  }

  .description.full {
    max-height: none;
  }

  .read-more {
    display: block;
    color: blue;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent, white 50%);
    padding: 0 1em;
  }

  .read-more.hidden {
    display: none;
  }
}

/* Desktop styles */
@media only screen and (min-width: 769px) {
  .description {
    max-height: none;
  }

  .read-more {
    display: none;
  }
}
/* Add this to your main CSS file */
@media screen and (max-width: 768px) {
  .description .read-more {
    display: inline;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    padding-left: 5px;
  }

  .description:not(.expanded) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px; /* Adjust as needed */
  }
}

@media screen and (min-width: 769px) {
  .description .read-more {
    display: none;
  }
}
